body{
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}
/*menu*/
nav{
	padding: 2px 28px;
	float: right;
}
nav li{
 display: inline;
 margin-left: 30px;
}
nav li a{
 text-decoration: none;
 color: black;
}
nav li a:hover{
 border-bottom: 1px;
 color: inherit;
}

a{
font-family: Verdana, sans-serif;
font-size: 15px;			/*deco_menu*/
color: #484848;
}

.icon1{
	
	width:30px;
	height:30px;       /*icone du menu*/
	float: left;
}

/*h1_plus_recherche*/

.h1plusrecherche{
	
}
h1{
	left: 80px;
	height: 40%
	width:80%;
	color: #FF5A5F;
	margin-top: 80px;
	margin-right: 20px;
}

.h1plusrecherche > p{
	font-size: 50px
	color: #484848;
	font-size: 1.2em;
}
.recherche {
	height: 60px;
	line-height: 60px;
	border: 1px solid rgb(206, 200, 200);
	border-radius: 4px;
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.50);
	margin-top: 60px;
}

.first {
	border-right: 1px solid rgba(206, 200, 200, 0.3);
}
#navchurch{

}
.middle {
	border-right: 1px solid rgba(206, 200, 200, 0.3);
}

#h1plusrecherche button {
	width: 200px;
	border: 1px solid rgb(206, 200, 200);
}
/*nav church2*/
#navchurch2{
	padding-top: 30px;
}	
#navchurch2 a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
}

#navchurch2 a:hover {
	color: #2E979B;
	padding-bottom: 21px;
	border-bottom: 2px solid #2E979B;
}

hr {
	border-color: rgba(206, 200, 200, 0.5);
}
/*contenu1*/
.imagec1{
display: flex;
justify-content: space-between;
margin-top: 50px;
 margin-right:20px;
}

.imagec1{
	width: 300px;
	height: 300px;
}
/*contenu2*/

.contenue2{
display: flex;
justify-content: space-between;
margin-top: 50px
}
h2,h3{
	font-size: 20px;
	color: black;
}

/*contenue3*/

.contenue3{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

hr{
	color:grey;
	margin-top: 60px;
}


/*footer*/

/*footer2*/

